*{
    border: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.olhos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
}

.olho{
    width: 200px;
    height: 400px;
    margin-left: 100px;
    transform-origin: center center;
}