*{
    background-color: rgb(255, 251, 251);
    padding: 0;
    margin: 0 auto;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widpadrao{
    width: 220px;
}

.calc{
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 230px;
    border-radius: 5px;
}

.div_nome{
    
}

.div_display{
    

}
.display{
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family: monospace ;
    font-size: larger;
}

.div_teclas{
    flex-wrap: wrap;
}

.teclas{
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 2px;
}

.teclaOp{
    background-color: #f44 !important;
    border-color: #800 !important;
}